.logo {
    display: flex;
}


.card {
    display: inline-flex;
}

.descuento { 
    background-color: rgba(158, 158, 158, 0.952);
    color: black;
    text-align: center;
}



.oferta {
    color: rgb(214, 9, 9);
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

.footer {
    background-color: black;
    margin-top: 40px;
}

h6 {
    margin-top: 40px;
    color: rgb(214, 9, 9);
    text-align: left;
}

ul {
    margin: 0px;
    padding: 0px;
}
li {
    color: cornsilk;
    list-style: none;
    text-align: left;
    margin-left: 0px;
    padding-left: 0px;
}

.mb-3 {
    width: 170px;
    color: blanchedalmond;
}

#dolar {
    font-size: 20px;
    width: 90%;
    text-align: right;
    font-style: bold;
}

.productosComprar {
    display:flex;
    margin-left: 50%;
    margin-top: 50px;

}

#mostrarCarrito {

    margin-left: 50%;
    color: blue;
}

.carro {
    margin-top: 40px;
    margin-left: 40%;
}


#Productos {
    margin-left: 40%;
    color: rgb(0, 0, 143);
    font-style: inherit;
}